<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left"><img src="img/fbaul_logo.png"></a>
            <form class="right grey lighten-3">
                <div class="input-field">
                    <input id="search" type="search" class="autocomplete" required>
                    <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-4">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large deep-orange darken-4">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="#!/home"><i class="material-icons">home</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/profile"><i class="material-icons">account_circle</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/collections"><i class="material-icons">flip_to_front</i></a></li>
        <li class="waves-effect waves-light"><a><i class="material-icons">help_outline</i></a></li>
    </ul>
</div>

<div class="section"></div>

<div class="row">



    <div class="col s12 m8 l7">
        <!-- Note that "m8 l9" was added -->
        <div class="card">
        <div class="card-image">
        <img src="img/Virtualidades-Urbanas-11.jpg" class="responsive-img">
        <a class="btn-floating halfway-fab green btn-large"><i class="material-icons">add</i></a>
        </div>
        </div>

    </div>

    <div class="col s12 m4 l5 row">
        <!-- Note that "m4 l3" was added -->
        <div class="section hide-on-med-and-up"></div>
        <div class="col s4"><img src="img/Virtualidades-Urbanas-05.jpg" class="responsive-img"></div>
        <div class="col s4"><img src="img/Virtualidades-Urbanas-12-300x200.jpg" class="responsive-img"></div>
        <div class="col s4"><img src="img/Virtualidades-Urbanas-15.jpg" class="responsive-img"></div>

    </div>

</div>
<div class="section hide-on-med-and-up"></div>
<div class="row">
    <div class="col s3 m1 center-align">
        <img class="circle" style="height: 60px;margin-top: 0.7rem;" src="img/uk_students_737x369.jpg">
    </div>
    <div class="col s9 m2">
        <h5><b>Jorge Rodrigues</b></h5>
        <span>Estudande de Artes Visuais</span>
    </div>
</div>

<div class="row">
    <div class="col s12 m8 l7">
        <blockquote>
            <p class="grey-text"><b>Submetido a 06 de Maio de 2017</b></p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.
        </blockquote>
    </div>
    <div class="col s12 m4 l5  row">
        <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Comentário</label>
            <a class="btn grey darken-4">Enviar</a>
        </div>
        <div class="col s12">
            <div class="card-panel" style="padding: 0.5rem; margin-top: 1rem;">
          <span>
              <p class="grey-text" style="margin: 0"><b>Anónimo disse:</b></p>
              I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
           

        </div>
    </div>
</div>
<div class="section"></div>
<div class="section"></div>
<div class="section"></div>