<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left"><img src="img/fbaul_logo.png"></a>
            <form class="right grey lighten-3">
                <div class="input-field">
                    <input id="search" type="search" class="autocomplete" required>
                    <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-4">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large orange accent-4">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="#!/home"><i class="material-icons">home</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/profile"><i class="material-icons">account_circle</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/collections"><i class="material-icons">flip_to_front</i></a></li>
        <li class="waves-effect waves-light"><a><i class="material-icons">help_outline</i></a></li>
    </ul>
</div>

<div class="section"></div>
<div class="container">
    <div class="row">
        <div class="col s5 m2">
            <img class="responsive-img circle" style="height: 100px" src="img/uk_students_737x369.jpg">
        </div>
        <div class="col s7 m3">
            <h5><b>Jorge Rodrigues</b></h5>
            <span>Estudande de Artes Visuais</span>
        </div>
        <div class="col s12 right-align" style="margin: 1rem 0;">
            <a class="btn orange accent-4"><i class="material-icons left">perm_identity</i>Seguir</a>
            <a class="btn grey darken-4 "><i class="material-icons left">message</i>Mensagem</a>
        </div>

        <div class="col s12 m3">
            <blockquote>Isto é a história da minha vida. Carpe diem.</blockquote>
            <a style="text-decoration: underline">O meu portfólio</a>
        </div>
        
    </div>
<div class="section"></div>
<div class="row">
    <div class="col s12">
        <h5>As minhas galerias</h5>
    </div>

    <div class="row" style="padding: 0 6px">
        <div class="col s4" style="padding: 0 3px">
                        <a href="#!/user/project">
            <img class="responsive-img" src="img/COIL.jpg">
                        </a>
        </div>
        <div class="col s4" style="padding: 0 3px">
                        <a href="#!/user/project">
            <img class="responsive-img" src="img/Virtualidades-Urbanas-11.jpg">
                        </a>
        </div>
        <div class="col s4" style="padding: 0 3px">
                        <a href="#!/user/project">
            <img class="responsive-img" src="img/peixe_p.png">
                        </a>
        </div>
    </div>
</div>

<div class="section"></div>
<div class="row">
    <div class="col s12">
        <h5>Estatísticas</h5>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {

        $('input.autocomplete').autocomplete({
            data: {
                "Desenho": null,
                "Design": null,
                "Pintura": null,
                "Escultura": null,
                "Fotografia": null,
                "Ilustração": null,
                "Multimédia": null,
                "Restauro": null,
                "Vídeo": null,
                "Todos": null
            },
            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function (val) {
                // Callback function when value is autcompleted.
            },
            minLength: 0, // The minimum length of the input for the autocomplete to start. Default: 1.
        });
    });

</script>