<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left"><img src="img/fbaul_logo.png"></a>
            <form class="right grey lighten-3">
                <div class="input-field">
                    <input id="search" type="search" class="autocomplete" required>
                    <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-4">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>

<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large deep-orange darken-4">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="#!/home"><i class="material-icons">home</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/profile"><i class="material-icons">account_circle</i></a></li>
        <li class="waves-effect waves-light"><a href="#!/user/collections"><i class="material-icons">flip_to_front</i></a></li>
        <li class="waves-effect waves-light"><a><i class="material-icons">help_outline</i></a></li>
    </ul>
</div>

<div class="slider red-text">
    <ul class="slides">
        <li>
            <img src="img/sem-referencia_l.jpg">
            <a href="#!/user/project">
                <div class="caption left-align" style=" width: 100%; top: 70%; left: 5%; background-color: rgba(0,0,0,0.5); padding-left: 0.7rem; padding-bottom: 0.7rem;">
                    <h5>Círculos Cromáticos</h5>
                    <span class="light grey-text text-lighten-3">Natacha Antão</span>
                </div>
            </a>
        </li>
        <li>
            <img src="img/peixe_p.png">
            <a href="#!/user/project">
                <div class="caption left-align" style=" width: 100%; top: 70%; left: 5%; background-color: rgba(0,0,0,0.5); padding-left: 0.7rem; padding-bottom: 0.7rem;">
                    <h5>Ilustração Científica</h5>
                    <span class="light grey-text text-lighten-3">Juliana da Costa</span>
                </div>
            </a>
        </li>
        <li>
            <img src="img/Virtualidades-Urbanas-11.jpg">
            <a href="#!/user/project">
                <div class="caption left-align" style=" width: 100%; top: 70%; left: 5%; background-color: rgba(0,0,0,0.5); padding-left: 0.7rem; padding-bottom: 0.7rem;">
                    <h5>Virtualidades Urbanas</h5>
                    <span class="light grey-text text-lighten-3">Felipe Raizer</span>
                </div>
            </a>
        </li>
        <li>
            <img src="img/COIL.jpg">
            <a href="#!/user/project">
                <div class="caption left-align" style=" width: 100%; top: 70%; left: 5%; background-color: rgba(0,0,0,0.5); padding-left: 0.7rem; padding-bottom: 0.7rem;">
                    <h5>Coil</h5>
                    <span class="light grey-text text-lighten-3">Filipe Dumas</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="section"></div>

<div class="row container">

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <a href="#!/user/project">
                    <img src="img/COIL.jpg">
                    <span class="card-title" style="background-color: rgba(0,0,0,0.5); padding: 1rem; font-size: 1.2rem;">Coil</span>
                </a>

                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content" style="min-height: 155px;">
                <a href="#!/user/profile">Filipe Dumas</a>
                <p>Where even the darkness is something to see.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <a href="#!/user/project">
            <img src="img/Virtualidades-Urbanas-11.jpg">
            <span class="card-title" style="background-color: rgba(0,0,0,0.5); padding: 1rem; font-size: 1.2rem;">Virtualidades Urbanas</span>
                </a>
                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content" style="min-height: 155px;">
                <a href="#!/user/profile">Felipe Raizer</a>
                <p>A cidade como um reino de possibilidades imagéticas. 2013-2016.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <a href="#!/user/project">
            <img src="img/home/peixe_p.jpg">
            <span class="card-title" style="background-color: rgba(0,0,0,0.5); padding: 1rem; font-size: 1.2rem;">Ilustração Científica</span>
            </a>
                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content" style="min-height: 155px;">
                <a href="#!/user/profile">Juliana da Costa</a>
                <p>plicação das cores e da luz por meio de experimentações de materiais, técnicas de desenho, fotografia e história da arte.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <a href="#!/user/project">
                    <img src="img/home/sem-referencia_l.jpg">
                    <span class="card-title" style="background-color: rgba(0,0,0,0.5); padding: 1rem; font-size: 1.2rem;">Círculos Cromáticos</span>
                </a>
                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content" style="min-height: 155px;">
                <a href="#!/user/profile">Natacha Antão</a>
                <p>Estudos para contrastes cromáticos que exploram relações visuais e emoções.</p>
            </div>
        </div>
    </div>


</div>

<div class="section"></div>
<div class="section"></div>





<!--<div class="row container" style="margin-top:1rem;">
    <div class="col s6 m3" ng-repeat="i in getNumber(number) track by $index" style="padding:0.3rem;">
        <img src="http://lorempixel.com/200/200/city" class="responsive-img z-depth-2">
    </div>-->





<!--<div class="col s1" ng-repeat="i in getNumber(number) track by $index">
            <div class="card">
                <div class="card-image">
                    <img src="http://lorempixel.com/400/200/city">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>-->








</div>

<script>
    $(document).ready(function () {

        $('input.autocomplete').autocomplete({
            data: {
                "Desenho": null,
                "Design": null,
                "Pintura": null,
                "Escultura": null,
                "Fotografia": null,
                "Ilustração": null,
                "Multimédia": null,
                "Restauro": null,
                "Vídeo": null,
                "Todos": null
            },
            limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
            onAutocomplete: function (val) {
                // Callback function when value is autcompleted.
            },
            minLength: 0, // The minimum length of the input for the autocomplete to start. Default: 1.
        });

        $('.slider').slider({ height: 300 });
        $('.slider').slider('pause');
    });

</script>