<div class="row">
<form class="col s12" ng-submit="login()" novalidate>
    <div class="section"></div>
    <div class="row">
        <div class="input-field col s12">
            <input id="user" type="text" class="validate" ng-class="{'invalid' : invalid}" ng-model="email">
            <label for="user">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-class="{'invalid' : invalid}" ng-model="password">
            <label for="password">Palavra-passe</label>
        </div>
    </div>
    <div class="section"></div>
    <div class="row">
        <div class="col s12 right-align">
            <button type="submit" class="waves-effect waves-light btn" ng-class="{'grey darken-3' : !invalid,'red darken-3' : invalid}">Entrar</button>
        </div>
    </div>
</form>
</div>